/* --------------- breakpoints */
$mobile-max: 740px;
$mobile-s: 420px;
$mobile-xs: 360px;
$tablet-max: 1024px;
$tablet-min: $mobile-max + 1px;
$desktop-min: $tablet-max + 1px;
$desktop-max-container: 1280px;
$desktop-md-container: 1120px;
$desktop-sm-container: 960px;
$desktop-xs-container: 700px;

/*------------ grid var cols*/
$col-1: 8.333333%;
$col-2: 16.666667%;
$col-3: 25%;
$col-4: 33.333333%;
$col-5: 41.666667%;
$col-6: 50%;
$col-7: 58.333333%;
$col-8: 66.666667%;
$col-9: 75%;
$col-10: 83.333333%;
$col-11: 91.666667%;
$col-12: 100%;

/*------------ colors*/
$main-bg: #fbf8f1;
$medium-bg: #ece7e0;
$dark-bg: #d8cec0;
$input-bg: #f2f2f2;
$light-bg: linear-gradient(360deg, #f9f6f1 16.71%, #fffefd 94.61%);
$red-light: #df553c;
$red: #b54c3e;
$red-dark: #91372b;
$gray-lightest: #e0e0e0;
$gray-light: #828282;
$gray: #333;
$gray-medium: #4f4f4f;
$black: #000;
$white: #fff;

/*------------ fonts*/
$main-font: 'Rubik', sans-serif;
$title-font: 'Rubik', sans-serif;
$light-font: 'Rubik', sans-serif;