.banner {
    background: url('../images/bg_banner.png') no-repeat;
    background-size: cover;
}
.banner-wrap {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    @include mobile {
        flex-direction: column;
        padding: 0;
    }
}
.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
        flex-direction: column-reverse;
    }
}
.banner-left__logo {
    max-width: 380px;
    transform: translateY(10px)translateX(30px);
    @include max-break ($desktop-max-container) {
        display: none;
    }
}
.banner-preOrder {
    display: flex;
    background: $red-light;
    // transform: translateY(30px);
    transform: translateY(120px);
    min-width: 632px;
    max-width: 80%;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    @include adaptive {
        transform: translateY(0);
        margin: 10px 0;
        max-width: 100%;
        min-width: 0;
    }
    @include mobile {
        margin: 0;
    }
}

.banner-preorder__left {
    // width: calc(58.33333% - 50px);
    // margin-top: -50px;
    width: 100%;
    margin-top: -80px;
    max-width: 48.9%;
    @include tablet {
        margin-top: -15px;
    }
    @include mobile {
        display: none;
    }
}
.banner-preOrder__img {
    max-width: 100%;
    max-height: 100%;
    // margin-left: 50px;
}

.banner-preOrder__right {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    padding: 30px 30px 40px 40px;
    @include mobile {
        width: 100%;
        padding: 30px 0px;
        min-width: 0px;
    }
}
.banner-preOrder__title {
    color: $white;
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    @include mobile {
        // text-align: center;
        padding-left: 24%;
        // margin: 0 auto;
    }
}
.banner-preOrder__price {
    font-size: 22px;
    margin: 0;
    margin-bottom: 30px;
    white-space: nowrap;
    font-weight: 500;
    @include mobile {
        font-size: 16px;
        font-weight: 500;
        margin: 0 auto;
        // max-width: 192px;
        padding-left: 24%;
        width: 100%;
    }

    &--number {
        font-size: 75px;
        font-weight: 500;
        @include mobile {
            font-size: 40px;
        }
    }
}
.banner-preOrder__footnote {
    font-size: 15px;
    // margin-bottom: 40px;
    margin-bottom: 32px;
    font-weight: 300;
    b {
        font-weight: 500;
    }
    @include mobile {
        // max-width: 192px;
        padding-left: 7%;
        margin: 0 auto;
    }
}
.banner-preOrder__img--mobile {
    display: none;
    // max-width: 150px;    
    margin: auto;
    width: 100%;
    position: relative;
    background-image: url(../images/box_mobile-test.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    @include max-break(768px) {
        height: 530px;
    }
    @include max-break(425px) {
        height: 300px;
    }
    @include mobile {
        display: block;
    }
}
.banner-preOrder__descr {
    color: $white;
    margin-bottom: 60px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    strong {
        font-size: 17px;
        font-weight: bold;
        display: block;
    }
    b {
        font-weight: 500;
    }
    @include mobile {
        margin-bottom: 20px;
        display: none;
    }
}
.banner-preOrder__descr--mobile {
    display: none;
    color: $white;
    margin-bottom: 60px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    strong {
        font-size: 17px;
        font-weight: bold;
        display: block;
    }
    b {
        font-weight: 500;
    }
    @include mobile {
        max-width: 71%;
        width: 100%;
        margin: 20px auto;
        display: block;
        strong {
            display: inline-block;
        }
    }
}
.banner-preOrder__btn {
    width: 100%;
    @include mobile {
        max-width: 240px;
        margin: 0 auto;
    }
}
.banner-cover {
    max-height: 600px;
    object-fit: contain;
    transform: translateY(30px);
    @include min-max-break ($tablet-max, $desktop-max-container) {
        max-height: 100%;
        max-width: $col-4;
    }
    @include adaptive {
        display: none;
    }
}
.banner-cover--mobile {
    display: none;
    // max-width: 570px;
    height: 670px;
    background-size: cover;
    background-position: center;
    @include max-break(425px) {
        display: block;
    }
    @include max-break(375px) {
        height: 566px;
    }
}