.publisher {
    padding-bottom: 100px;
    &-content {
        max-width: 830px;
        width: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        @include max-break(570px) {
            flex-wrap: wrap;
        }
    }
    &-item {
        &:first-child {
            max-width: 284px;
            width: 100%;
            @include max-break(570px) {
                max-width: 100%;
                margin-bottom: 25px;
            }
        }


        &--svg {
            max-width: 180px;
            width: 100%;
            height: 320px;
            @include max-break(570px) {
                display: block;
                margin: 0 auto;
            }
        }

        &-info {
            max-width: 545px;
            width: 100%;
            h4 {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                text-transform: uppercase;
                color: #333;
                display: block;
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
                color: #333;
                margin-bottom: 30px;
                strong {
                    font-weight: bold;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-bottom: 60px;
                li {
                    position: relative;
                    font-size: 16px;
                    line-height: 22px;
                    color: #333;
                    padding-left: 18px;
                    &:before {
                        content: '';
                        position: absolute;
                        background-color: #b54c3e;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        top: 10px;
                        left: 0px;
                        transform: translateY(-2px);
                    }
                }
            }
            &__links {
                display: flex;
                flex-wrap: wrap;
                a {
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 20px;
                    color: #b54c3e;
                    display: flex;
                    align-items: center;
                    margin-right: 25px;
                    margin-bottom: 10px;
                }
                .publisher-links--svg {
                    max-width: 19px;
                    width: 100%;
                    height: 19px;
                    margin-right: 9px;
                }
            }
        }
    }
}