.vocabulary {
    background: url('../images/bg_vocabulary.png') no-repeat;
    background-size: cover;
    @include adaptive {
        background: url('../images/bg_vocabulary_mobile.png') no-repeat;
        background-size: cover;
    }
}
.vocabulary-wrap {
    margin-top: 85px;
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vocabulary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: $col-6;
    @include tablet {
        max-width: $col-8;
    }
    @include mobile {
        max-width: $col-12;
    }
}
.vocabulary-content__title {
    max-width: 100%;
}
.vocabulary-content__descr {
    color: $gray-medium;
    font-size: 18px;
    margin: 26px 0 33px 0;
    @include adaptive {
        margin: 26px 0 0 0;
        font-size: 16px;
    }
}

.vocabulary-content__characters {
    display: none;
    @include adaptive {
        display: block;
    }
}

.vocabulary-content__btn {
    font-weight: 500;
}